body {
    background-color: rgb(21, 158, 189);
    font-family: sans-serif;
  }
  
  #resize {
    width: 200px;
    height: 500px;
  }
  
  header {
    background-color: gray;
    height: 150px;
  }
  
  h1 {
    float: left;
    margin-left: 40px;
    margin-right: 50px;
    color: black;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
  }
  
  nav li a {
    color: rgb(20, 137, 220);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  
  nav li a:hover {
    color: black;
    text-decoration: underline;
    font-size: 22px;
  }
  
  main {
    width: 960px;
    margin: 30px auto;
  }
  
  #hero {
    width: 960px;
    height: 600px;
    border: 3px solid rgb(20, 107, 220);
  }
  
  #hero:hover {
    border-radius: 0;
    border: 3px solid black;
  }
  
  main p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  .lower {
    display: inline-block;
    max-width: 30%;
    margin: 10px;
    text-align: center;
  }
  
  footer {
    text-align: center;
    background-color: rgb(20, 177, 220);
    height: 100px;
  }
  
  footer p {
    padding-top: 50px;
  }
  
  .alert {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: rgb(0, 64, 255);
    color: white;
  }